:root {
    --background-color: #141018;
    --title-pink: #f5189e;
    --text-white: #eff5e9;
    --icon-green: #00ff99;
    --icon-blue: #1873f5;
    --color-gris: #222122;
    --color-orange: #f5ac18;
    --highlight: #ffaf40;
  }
  